html, body {
	height: 100%;
}

.content-container {
	min-height: calc(100vh - 60px); /* Footer height is 60px */
	display: flex;
	flex-direction: column;
}

.top-section {
	padding: 30px 0;
}

.middle-section {
	flex-grow: 1; /* This makes the middle section expand */
	padding: 30px 0;
}

.bottom-section {
	padding: 30px 0;
}

.footer {
	height: 60px;
	background-color: #f8f9fa;
	position: sticky;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid #e9ecef;
}

.hidden {
	display: none;
}

/*	j2auth styles for phone and code inputs
 */
 
.phone-input {
	padding: 11px; /* Added padding inside the input field */
	font-size: 1.1em;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 70%;
	box-sizing: border-box;
	text-align: center; /* Center the text and placeholder */
}

.phone-input::placeholder {
	text-align: center; /* Center the placeholder text */
}

.code-input {
	padding: 11px; /* Same padding as phone input */
	font-size: 1.1em; /* Same font size as phone input */
	margin: 10px 5px; /* Slight margin between inputs */
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 20%;
	box-sizing: border-box;
	text-align: center; /* Center the text */
}

.modal-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	width: 80%;
	max-width: 400px;
}
